<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1 class="display-3">Cook-up</h1>
  <p class="lead">Let's cook well with extra foods!</p>
  <p><%= link_to "Sign Up", signup_path, class: 'btn btn-lg btn-success' %></p>
</div>
