<h1><%= @account.user_name %>さん</h1>

<p>
  ご利用いただきありがとうございます！
  以下のリンクからパスワードを再設定してください。
</p>

<%= link_to "パスワードを再設定する！", "#{Settings.url.domain}/password_resets/#{@account.reset_token}/edit?email=#{@account.email}" %>

<p>※上記リンクでうまくいかない場合は、リンクのURLをコピーしてブラウザに貼り付けてください。</p>
